fastapi[all]
uvicorn[standard]
gunicorn
sqlalchemy[asyncio]
asyncpg
psycopg2-binary
requests
pandas
numpy
scikit-learn
xgboost
lightgbm
joblib
python-dotenv
pydantic-settings
loguru
python-multipart
supabase
